# Ignore dataset and training images
**/train/
**/test/
**/Tyre Classification Gray Scale/

# Ignore model checkpoints and weight files
*.keras
*.h5

# Ignore virtual environments and node_modules
.venv/
__pycache__/
node_modules/

# Ignore cache and logs
*.log
.DS_Store
Thumbs.db
